#cancel {
  background-color: $au-yellow-400;
  border: none;
}

#delete {
  background-color: var(--background-light-red);
  border: none;
}

#create:disabled {
  background-color: var(--text-color-grey);
  border: none;
}

#cancel:disabled {
  background-color: var(--text-color-grey);
}

#delete:disabled {
  background-color: var(--text-color-grey);
}
