.create {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid $au-blue-700;
  border-radius: $au-radius;
  padding: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  .inputLabel {
    margin-left: 15px;
    color: rgb(115 119 126);
    font-size: $au-font-secondary;
    margin-bottom: 0.5rem;
  }
}
