.profileHeaderCard {
  margin-top: 2rem;
  border-radius: $au-radius;
  border: $au-border solid var(--border-light-grey);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .profilePicture {
    border-radius: 120px;
    height: 120px;
    width: 120px;
    background: $au-blue-600;
    justify-content: center;
  }
  .information {
    text-align: center;
    .name {
      margin-top: 0;
    }
    .jobTitle {
      margin-top: 0;
      color: rgb(115 119 126);
      font-size: $au-font-secondary;
    }
  }
}
