.projectInformation {
  border-radius: $au-radius;
  border: $au-border solid var(--border-light-grey);
  padding: 1.5rem;
  .fields {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    .fieldLabel {
      color: rgb(115 119 126);
      font-size: $au-font-secondary;
    }
  }
}
