:root {
  --text-color-white: rgb(255 255 255);
  --text-color-grey: rgb(114 111 111);
  --background-light-grey: rgb(235 233 233 / 61%);
  --background-light-red: #aa2729; // --au-red-700: #aa2729;
  --border-light-grey: rgb(238 239 241);
  --menu-font-weight: 500;
}
