<div class="companyInformation">
  <div class="fields">
    <span>
      <p class="fieldLabel">Description</p>
      <p>{{@description}}</p>
    </span>
    <span>
      <p class="fieldLabel">Address</p>
      <p>{{@address}}</p>
    </span>
  </div>
</div>